.list-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  color: #282c34;
  margin: 10px;
  /* position: relative; */
}

.header {
  text-align: center;
  border-bottom: #282c34 solid 2px;
}

.log-in {
  margin: auto;
  width: 25%;
  text-align: center;
  color: #B22222;
  font-size: 20px;
}

.list {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: auto;
  justify-content: center;
  grid-row-gap: 20px;
  margin-left: 130px;
  /* align-content: center; */
}

.book {
  position: relative;
  border: 2px solid black;
  /* margin: auto; */
  width: 75%;
  margin-left: 10px;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  justify-content: left;
  grid-template-areas: 
    'image title title'
    'image author author'
    'image . .'
    'more-info-btn select-form .'
    'book-detail book-detail .'
    'rate-book rate-book .'
    'review-book . .'
    'delete-book . .'
    ;
}

.book-image {
  height: 200px;
  margin: 25px;
  grid-area: image;
  filter: drop-shadow(15px 15px 5px gray);
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}

.more-info-btn {
  grid-area: more-info-btn;
  margin: 0px 10px 10px 10px; 
  background-color:#282c34;
  color: white;
  filter: drop-shadow(5px 5px 5px black);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 20px;
  width: 150px;
  /* position: absolute; */
  bottom: 0px;
}

.select-form {
  grid-area: select-form;
}

.rate-book {
  grid-area: rate-book;
}

.review-book {
  grid-area: review-book;
}

.delete-book {
  grid-area: delete-book;
}

.book-detail {
  grid-area: book-detail;
  width: 50%;
  margin-left: 10px;
}